:root {
  --text-color: #667085;
  --main-color: #8E2424;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
}

/* navbar */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
}

.pages a {
  color: var(--text-color);
  text-decoration: none;
  margin-right: 2rem;
}

/* header */

button {
  padding: 0.8rem 1rem;
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
  font-weight: 500;
  background: none;
  color: var(--text-color);
  font-size: 0.9rem;
}

button#register {
  background-color: #8E2424;
  color: #FFF;
}

.about-us {
  padding: 7rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.about-us span {
  color: var(--main-color);
}

.about-us h1 {
  font-size: 2rem;
}

.about-us p {
  color: var(--text-color);
  max-width: 50%;
  text-align: center;
  line-height: 1.5rem;
}