*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --text: #464646;
    --light-text: #A3A3A3;
    --background: linear-gradient(165.96deg, #F8F4FF 0%, #EFF0F4 100%);
    --card-background: #FFF;
  
    --primary-colour: #4894FF;
    --secondary-colour: #FFB050;
    --white: #FFF;
    --grey: #ECECEC;
    --secondary-grey: #F6F6F6;
  }
  
  html {
    font-family: 'Montserrat', sans-serif;
  }
  
  button {
    cursor: pointer;
  }